<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data Driven Suite">
<listeners>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>
<listener class-name="org.uncommons.reportng.JUnitXMLReporter"></listener>
<listener class-name ="listeners.commonListener"></listener>
</listeners>
  <test name="ManagerLoginTest">
    <classes>
      <class name="testcases.BankManagerLoginTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="AddCustomerTest">
    <classes>
       <class name="testcases.AddCustomerTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="OpenAccountTest">
    <classes>
       <class name ="testcases.OpenAccountTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
